.face-morph-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #666666;
  overflow: hidden;
  pointer-events: auto;
}

.face-morph-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: auto;
  touch-action: none;
}

